<div class="container" id="cont-place">
  <div class="head">
    <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: 'avatar', id: 'img-place' %>
    <div class="right"><h2><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h2><i class="fa-solid fa-pen-to-square"></i></div>
  </div>
  <div class="bio">
  <strong>My bio:</strong>
  <p><%= @user.bio %></p><i class="fa-solid fa-pen-to-square"></i>
  </div>
  <div class="container" id="event-head">
    <h2>My events</h2>
    <hr>
  </div>
</div>
