<div id='div-logo'>
  <%= image_tag 'logo.png', height: 120, id: 'logo' %>
  <h1 class="text-center">Food </h1> <h1 id='h' class="text-center">Breaker</h1>
</div>
<%= render 'shared/card_events' %>
<%= render 'shared/new_event' %>
