

<div class="container">
  <h1 class="text-center">Pages home</h1>
  <ul>
  <% @events.each do |e| %>
    <li><%= e.title %> place restante <%= e.calcul_capacity_book %>/<%= e.capacity %></li>
  <% end %>
  </ul>
</div>
