#home-card {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0px 0px;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-slot {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
  border-radius: 0px 0px 5px 5px;
  text-align: end;
}
