#home-card {
  margin-top: 20px;
  list-style: none;
  a {
    text-decoration: none;
  }
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0px 0px;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 7px;
  margin-bottom: 0;
}

.card-text {
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 0;
  color: #636262;
}

.card-slot {
  font-size: 14px;
  color: #636262;
  text-align: end;
  margin-bottom: 0;
}

#event-home {
  width: 100%;
}

.card-product-infos {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 100%;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .slot {
    margin-left: 12px;
  }

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-product

.card-product .card-product-infos {
  padding: 16px;
}

.product {
  ul {
    margin-left: -33px;
  }
  li {
    overflow: hidden;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    margin-top: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336) ;
  }
}
