.navbar-fab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 44px;
  list-style: none;
  margin-bottom: 1px;

  li {
    margin: 3px;
  }
}

#nav-d-none {
  display: flex;
  background: linear-gradient(179deg, #adaaaa, #ebd3fc);
}
